.container{
    height:100vh;
    min-width:100%;
    background-color:rgb(135, 147, 235);
    display:flex;
    
}

.container .left{
    height:100vh;
    width:50%;
    font-size:20px;
    padding:50px;
    
    
    
}

.container .right{
    height:100vh;
    width:50%;
    font-size:20px;
    padding:30px;
   
}

.container .left a{
   color:white;
   text-decoration:none;
}

.container .right a{
    color:white;
    text-decoration:none;
    margin-left:35px;
 }

 .container .right button{
    color:white;
    background-color:rgb(135, 147, 235);
    border:2px solid white;
    margin-left:35px;
    
 }

 .container .left h1{
    padding-top:200px;
    color:white;
 }
 
.container .left p a{
    color:blue;
}
.container .left p{
    color:white;
    opacity:0.7;
}

.container .left .btn-warning{
    border-radius:20px;
    padding-left:30px;
    padding-right:30px;
    color:white;
}
.container .right .inside{
    height:400px;
    width:350px;
    border:2px solid white;
    margin-top:150px;
    background-color:white;
    filter:drop-shadow(4px 4px 4px black);
    
    
}

.container .right .inside{
    margin-left:180px;
    
}

.container .right .inside h4{
    text-align:center;
    margin-top:20px;
}

.container .right .inside form{
    margin-left:60px;  
}

.container .right .inside form input{
    font-size:20px;
    padding-left:10px;
    margin:10px;
    background-color:skyblue;
    opacity:0.5;
   
}

.container .right .inside form #profession{
    font-size:20px;
    width:243px;
    margin-left:10px;
    height:35px;
   background-color:skyblue;
   opacity:0.5;
   
    
}
.container .right .inside form #profession{
    margin-top:10px;
    padding-left:10px;
}

.container .right .inside button{
   width:250px;
   margin:20px;
   background-color:blue;
   border-radius:30px;
}

.container .right .inside button{
    margin-left:10px;
}

.container .right a:hover{
    font-weight:500;
    color:gray;
  
}

.container .left a:hover{
    font-weight:500;
    color:gray;
  
}


.container .right button:hover{
    transform:scale(1);
    font-weight:500;
    color:gray;
  
}

.container .right .inside button:hover{
    box-shadow:2px 2px 2px black;
    
    
}

.container .left p:hover{
    font-weight:300;
}

.container .left h1:hover{
   color:gray;
}