div h1{
    display:inline-block;
    font-size:100px;
   
}

.G{
    color:blue;
}

.O{
    color:red;
}

.o{
    color:yellow;
}

.g{
    color:blue;
}

.L{
    color:orange;
}

.E{
    color:darkgreen;
}

.main_box{
    width:100%;
    height:250px;
    text-align:center;
    
}

.search_box input{
    width:50%;
    height:50px;
    border-radius:30px;
    font-size:20px;
    padding-left:60px; 
}


.search_box i{
    position:absolute;
    left:360px;
    bottom:295px;
}

.search_box span i{
    position:absolute;
   left:1100px;
  bottom:295px;
}
 
.search_box nav i{
    position:absolute;
    left:1050px;
    bottom:295px;
}

.social_media{
    width:100%;
    height:400px;
    font-size:30px;
    margin:20px;

   
    
}

.social_media .child{
    width:100%;
    height:400px;
    font-size:30px;
    margin:20px;
  
   

}

.social_media i{
    padding:50px;
    border-radius:50%;
   background-color:skyblue;
    opacity:0.3;
    margin:20px;

    
}

.social_media i:hover{
  opacity:1;
  transform:scale(1);
  
}

#upper input{
    height:50px;
    width:90%;
    border:2px solid blue;
    border-radius:30px;
    padding-left:15px;
    
    
   
   
    
    
}

#upper i{
    position:fixed;
   right:1430px;
   top:25px;
   font-size:20px;
   color:blue;
   
  
   
}

#upper span i{
    position:fixed;
    left:1300px;
    top:25px;
    font-size:20px;
    color:black;
    
}

#sidebar{
    height:50px;
    width:300px;
    margin-left:1150px;
    padding-top:20px;
   
    
   
    
}

#sidebar a {
    padding-left:10px;
    font-size:20px;
    text-decoration:none;
}

#sidebar i {
    padding-left:40px;
    font-size:40px;
   
}

#upper nav i{
    position:fixed;
    left:1450px;
    color:black;
   
}

#upper search i{
    position:fixed;
    left:1400px;
    color:yellow;
}

#upper section i{
    position:fixed;
    left:1350px;
    color:black;
}